<!doctype html>
<html lang="en">
  <head>
    <link href='/portfolio/style/standard.css' type='text/css' rel='stylesheet'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Week X index">
    <title>Week X</title>
  </head>
  <body>
    <nav>
      <h1>Week X</h1>
      <ul>
        <li><a href="notes.html">notes</a></li>
        <li><a href="exercises.html">exercises</a></li>
      </ul>
    </nav>
    <footer><a href='/portfolio/'>home</a></footer>
  </body>
</html>
