h1 {
    font-size: 2.5em;
    text-align: center;
    background: #803709;
    color: #d8d8d8;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

th {
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    background: #cb6532;
    color: #18181d;
    font-size: x-large;
}

th:nth-child(1) {
    width: 5%;
}

th:nth-child(2) {
    width: 35%;
}

th:nth-child(3) {
    width: 60%;
}

table, h1, footer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

tr:nth-child(2n+1) {
    background: hsl(30deg 98% 80%);
    background:linear-gradient(-30deg, hsl(31deg,98%,79%),
hsl(32deg,99%,82%),
hsl(28deg,97%,77%),
hsl(28deg,100%,82%),
hsl(29deg,95%,82%),
hsl(28deg,96%,80%),
hsl(29deg,98%,81%),
hsl(30deg,96%,78%),
hsl(32deg,97%,80%),
hsl(30deg,100%,79%),
hsl(32deg,100%,82%),
hsl(31deg,97%,79%),
hsl(30deg,100%,82%),
hsl(30deg,97%,82%),
hsl(29deg,100%,83%),
hsl(28deg,99%,77%),
hsl(30deg,99%,78%),
hsl(32deg,98%,79%),
hsl(28deg,96%,82%),
hsl(31deg,97%,78%),
hsl(28deg,98%,77%),
hsl(31deg,97%,83%),
hsl(32deg,96%,83%),
hsl(32deg,98%,83%),
hsl(32deg,98%,81%),
hsl(31deg,95%,83%),
hsl(32deg,96%,80%),
hsl(32deg,96%,82%),
hsl(32deg,95%,77%),
hsl(32deg,99%,78%),
hsl(31deg,99%,78%),
hsl(30deg,95%,77%),
hsl(29deg,100%,79%),
hsl(31deg,100%,77%),
hsl(32deg,96%,81%),
hsl(29deg,95%,81%),
hsl(30deg,97%,83%),
hsl(29deg,99%,78%),
hsl(32deg,95%,82%),
hsl(31deg,99%,81%),
hsl(30deg,95%,78%),
hsl(32deg,95%,80%),
hsl(28deg,98%,79%),
hsl(28deg,99%,80%),
hsl(31deg,96%,79%),
hsl(29deg,96%,77%),
hsl(31deg,97%,77%),
hsl(29deg,95%,80%),
hsl(28deg,98%,82%),
hsl(28deg,96%,81%),
hsl(30deg,95%,82%),
hsl(32deg,96%,78%),
hsl(31deg,96%,77%),
hsl(32deg,97%,78%),
hsl(28deg,98%,78%),
hsl(30deg,96%,79%),
hsl(29deg,95%,79%),
hsl(32deg,100%,80%),
hsl(31deg,96%,78%),
hsl(28deg,99%,78%),
hsl(30deg,99%,79%),
hsl(29deg,99%,79%),
hsl(31deg,99%,80%),
hsl(32deg,100%,79%),
hsl(30deg,99%,82%),
hsl(28deg,100%,81%),
hsl(32deg,98%,80%),
hsl(32deg,99%,77%),
hsl(31deg,99%,79%),
hsl(31deg,97%,82%),
hsl(31deg,95%,77%),
hsl(29deg,100%,81%),
hsl(30deg,96%,82%),
hsl(28deg,99%,83%),
hsl(29deg,96%,81%),
hsl(32deg,100%,78%),
hsl(32deg,96%,79%),
hsl(32deg,100%,77%),
hsl(32deg,98%,77%),
hsl(28deg,100%,77%),
hsl(31deg,98%,77%),
hsl(32deg,97%,79%),
hsl(28deg,100%,78%),
hsl(28deg,95%,78%),
hsl(29deg,96%,82%),
hsl(31deg,96%,82%),
hsl(30deg,98%,82%),
hsl(29deg,96%,78%),
hsl(28deg,98%,80%),
hsl(32deg,95%,81%),
hsl(28deg,96%,77%),
hsl(29deg,100%,80%),
hsl(30deg,100%,80%),
hsl(30deg,98%,83%),
hsl(29deg,98%,78%),
hsl(31deg,98%,82%),
hsl(29deg,97%,82%),
hsl(29deg,100%,78%),
hsl(31deg,99%,83%),
hsl(32deg,99%,83%),
hsl(32deg,97%,83%),
hsl(29deg,96%,79%),
hsl(30deg,97%,78%),
hsl(31deg,97%,80%),
hsl(29deg,98%,83%),
hsl(32deg,97%,81%),
hsl(28deg,99%,79%),
hsl(31deg,99%,82%),
hsl(29deg,97%,78%),
hsl(30deg,99%,83%),
hsl(32deg,95%,83%),
hsl(29deg,99%,83%),
hsl(31deg,95%,79%),
hsl(28deg,96%,78%),
hsl(31deg,100%,79%),
hsl(32deg,96%,77%),
hsl(31deg,98%,80%),
hsl(32deg,97%,82%),
hsl(30deg,98%,79%),
hsl(31deg,96%,80%),
hsl(30deg,95%,79%),
hsl(31deg,100%,78%),
hsl(30deg,99%,77%),
hsl(30deg,98%,81%),
hsl(32deg,97%,77%),
hsl(28deg,95%,81%),
hsl(30deg,97%,80%),
hsl(30deg,100%,77%),
hsl(29deg,98%,82%),
hsl(30deg,100%,83%),
hsl(32deg,100%,83%),
hsl(29deg,99%,77%),
hsl(29deg,100%,77%),
hsl(28deg,98%,81%),
hsl(30deg,97%,77%),
hsl(28deg,95%,77%),
hsl(28deg,95%,82%),
hsl(30deg,98%,77%),
hsl(28deg,95%,79%),
hsl(28deg,98%,83%),
hsl(29deg,97%,79%),
hsl(30deg,99%,80%),
hsl(29deg,98%,80%),
hsl(28deg,95%,80%),
hsl(30deg,97%,81%),
hsl(29deg,98%,77%),
hsl(28deg,97%,78%),
hsl(31deg,97%,81%),
hsl(31deg,100%,82%),
hsl(29deg,97%,77%),
hsl(28deg,100%,79%),
hsl(28deg,96%,83%),
hsl(30deg,98%,80%),
hsl(31deg,95%,81%),
hsl(29deg,99%,82%),
hsl(31deg,95%,78%),
hsl(31deg,96%,81%),
hsl(32deg,99%,80%),
hsl(28deg,100%,83%),
hsl(30deg,95%,81%),
hsl(31deg,100%,83%),
hsl(32deg,99%,79%),
hsl(30deg,99%,81%),
hsl(29deg,95%,83%),
hsl(31deg,100%,81%),
hsl(29deg,97%,81%),
hsl(32deg,100%,81%),
hsl(32deg,99%,81%),
hsl(31deg,98%,83%),
hsl(32deg,95%,79%),
hsl(28deg,99%,81%),
hsl(30deg,96%,83%),
hsl(28deg,97%,82%),
hsl(32deg,98%,82%),
hsl(31deg,98%,81%),
hsl(30deg,96%,81%),
hsl(29deg,98%,79%),
hsl(32deg,95%,78%),
hsl(31deg,95%,82%),
hsl(30deg,96%,77%),
hsl(28deg,99%,82%),
hsl(28deg,97%,83%),
hsl(29deg,97%,83%),
hsl(29deg,95%,78%),
hsl(32deg,98%,78%),
hsl(31deg,100%,80%),
hsl(30deg,100%,81%),
hsl(31deg,99%,77%),
hsl(30deg,97%,79%),
hsl(29deg,95%,77%),
hsl(29deg,96%,83%),
hsl(30deg,95%,80%),
hsl(28deg,100%,80%),
hsl(31deg,96%,83%),
hsl(31deg,98%,78%),
hsl(28deg,96%,79%),
hsl(28deg,97%,81%),
hsl(30deg,95%,83%),
hsl(29deg,100%,82%),
hsl(30deg,100%,78%),
hsl(29deg,99%,80%),
hsl(28deg,97%,80%),
hsl(30deg,98%,78%),
hsl(28deg,95%,83%),
hsl(28deg,97%,79%),
hsl(29deg,99%,81%),
hsl(30deg,96%,80%),
hsl(29deg,97%,80%),
hsl(31deg,95%,80%),
hsl(29deg,96%,80%))
}
tr:nth-child(2n) {
    background: hsl(60deg 100% 90%);
    background: linear-gradient(-15deg, hsl(61deg, 99%, 96%),
hsl(59deg, 96%, 89%),
hsl(61deg, 100%, 94%),
hsl(60deg, 99%, 91%),
hsl(61deg, 96%, 92%),
hsl(60deg, 98%, 87%),
hsl(61deg, 99%, 99%),
hsl(61deg, 99%, 100%),
hsl(60deg, 99%, 97%),
hsl(59deg, 97%, 95%),
hsl(60deg, 98%, 81%),
hsl(61deg, 99%, 90%),
hsl(60deg, 100%, 99%),
hsl(59deg, 98%, 90%),
hsl(59deg, 99%, 85%),
hsl(61deg, 99%, 86%),
hsl(60deg, 100%, 86%),
hsl(60deg, 97%, 93%),
hsl(60deg, 100%, 93%),
hsl(61deg, 96%, 82%),
hsl(59deg, 97%, 96%),
hsl(59deg, 98%, 100%),
hsl(59deg, 98%, 88%),
hsl(59deg, 98%, 81%),
hsl(61deg, 97%, 89%),
hsl(61deg, 99%, 94%),
hsl(61deg, 96%, 81%),
hsl(61deg, 97%, 95%),
hsl(60deg, 97%, 85%),
hsl(61deg, 97%, 91%),
hsl(59deg, 100%, 90%),
hsl(60deg, 99%, 86%),
hsl(61deg, 96%, 96%),
hsl(59deg, 96%, 82%),
hsl(60deg, 97%, 97%),
hsl(61deg, 96%, 85%),
hsl(61deg, 96%, 94%),
hsl(60deg, 98%, 96%),
hsl(59deg, 98%, 92%),
hsl(61deg, 99%, 80%),
hsl(61deg, 99%, 84%),
hsl(60deg, 96%, 80%),
hsl(60deg, 100%, 94%),
hsl(61deg, 99%, 85%),
hsl(61deg, 96%, 93%),
hsl(59deg, 99%, 97%),
hsl(60deg, 99%, 82%),
hsl(59deg, 98%, 94%),
hsl(61deg, 100%, 98%),
hsl(60deg, 98%, 92%),
hsl(60deg, 100%, 85%),
hsl(60deg, 100%, 87%),
hsl(60deg, 96%, 85%),
hsl(60deg, 97%, 92%),
hsl(59deg, 99%, 83%),
hsl(61deg, 99%, 87%),
hsl(59deg, 97%, 92%),
hsl(61deg, 96%, 90%),
hsl(61deg, 98%, 93%),
hsl(60deg, 99%, 93%),
hsl(61deg, 97%, 80%),
hsl(61deg, 100%, 82%),
hsl(59deg, 98%, 91%),
hsl(61deg, 96%, 99%),
hsl(59deg, 97%, 80%),
hsl(59deg, 98%, 80%),
hsl(60deg, 99%, 92%),
hsl(61deg, 97%, 98%),
hsl(61deg, 97%, 87%),
hsl(59deg, 98%, 87%),
hsl(61deg, 100%, 96%),
hsl(61deg, 99%, 83%),
hsl(61deg, 99%, 91%),
hsl(59deg, 98%, 86%),
hsl(59deg, 96%, 86%),
hsl(61deg, 98%, 98%),
hsl(59deg, 97%, 84%),
hsl(59deg, 98%, 97%),
hsl(60deg, 99%, 98%),
hsl(61deg, 97%, 93%),
hsl(60deg, 96%, 81%),
hsl(59deg, 97%, 85%),
hsl(59deg, 98%, 84%),
hsl(61deg, 96%, 83%),
hsl(60deg, 98%, 86%),
hsl(61deg, 99%, 93%),
hsl(61deg, 100%, 83%),
hsl(61deg, 98%, 99%),
hsl(60deg, 97%, 84%),
hsl(60deg, 98%, 82%),
hsl(61deg, 100%, 100%),
hsl(61deg, 97%, 94%),
hsl(59deg, 98%, 93%),
hsl(59deg, 96%, 100%),
hsl(60deg, 97%, 100%),
hsl(59deg, 97%, 91%),
hsl(61deg, 100%, 85%),
hsl(59deg, 96%, 84%),
hsl(61deg, 96%, 98%),
hsl(60deg, 100%, 98%),
hsl(59deg, 100%, 89%),
hsl(60deg, 96%, 97%),
hsl(60deg, 98%, 91%),
hsl(61deg, 98%, 81%),
hsl(61deg, 96%, 87%),
hsl(59deg, 96%, 94%),
hsl(60deg, 99%, 94%),
hsl(61deg, 97%, 96%),
hsl(60deg, 96%, 91%),
hsl(60deg, 96%, 87%),
hsl(59deg, 96%, 83%),
hsl(60deg, 99%, 80%),
hsl(60deg, 96%, 86%),
hsl(60deg, 99%, 87%),
hsl(59deg, 96%, 87%),
hsl(59deg, 96%, 96%),
hsl(59deg, 99%, 82%),
hsl(60deg, 97%, 96%),
hsl(60deg, 98%, 85%),
hsl(59deg, 96%, 98%),
hsl(59deg, 96%, 97%),
hsl(61deg, 98%, 95%),
hsl(60deg, 97%, 80%),
hsl(59deg, 99%, 95%),
hsl(60deg, 97%, 89%),
hsl(60deg, 98%, 90%),
hsl(59deg, 99%, 91%),
hsl(60deg, 97%, 95%),
hsl(60deg, 100%, 81%),
hsl(61deg, 98%, 94%),
hsl(60deg, 97%, 98%),
hsl(60deg, 100%, 92%),
hsl(61deg, 98%, 89%),
hsl(60deg, 98%, 94%),
hsl(60deg, 100%, 90%),
hsl(59deg, 97%, 86%),
hsl(59deg, 96%, 88%),
hsl(60deg, 98%, 83%),
hsl(61deg, 97%, 99%),
hsl(61deg, 97%, 92%),
hsl(59deg, 100%, 85%),
hsl(60deg, 97%, 82%),
hsl(61deg, 96%, 89%),
hsl(59deg, 98%, 82%),
hsl(59deg, 97%, 89%),
hsl(59deg, 100%, 97%),
hsl(61deg, 97%, 100%),
hsl(60deg, 98%, 89%),
hsl(60deg, 100%, 82%),
hsl(60deg, 100%, 97%),
hsl(60deg, 97%, 83%),
hsl(61deg, 100%, 93%),
hsl(61deg, 99%, 88%),
hsl(59deg, 100%, 91%),
hsl(61deg, 99%, 89%),
hsl(61deg, 96%, 84%),
hsl(61deg, 100%, 86%),
hsl(60deg, 99%, 99%),
hsl(60deg, 96%, 99%),
hsl(61deg, 100%, 95%),
hsl(60deg, 100%, 89%),
hsl(61deg, 98%, 100%),
hsl(61deg, 97%, 84%),
hsl(61deg, 100%, 88%),
hsl(59deg, 96%, 91%),
hsl(59deg, 96%, 90%),
hsl(60deg, 96%, 100%),
hsl(59deg, 100%, 99%),
hsl(60deg, 100%, 84%),
hsl(60deg, 98%, 98%),
hsl(60deg, 96%, 92%),
hsl(61deg, 100%, 92%),
hsl(60deg, 98%, 80%),
hsl(60deg, 98%, 84%),
hsl(60deg, 96%, 94%),
hsl(60deg, 96%, 84%),
hsl(59deg, 100%, 94%),
hsl(60deg, 99%, 95%),
hsl(59deg, 97%, 83%),
hsl(60deg, 98%, 100%),
hsl(61deg, 98%, 88%),
hsl(60deg, 99%, 89%),
hsl(61deg, 96%, 97%),
hsl(61deg, 98%, 84%),
hsl(59deg, 99%, 90%),
hsl(60deg, 100%, 80%),
hsl(59deg, 99%, 92%),
hsl(59deg, 97%, 97%),
hsl(61deg, 98%, 97%),
hsl(59deg, 98%, 85%),
hsl(59deg, 100%, 100%),
hsl(60deg, 100%, 96%),
hsl(59deg, 96%, 85%),
hsl(61deg, 98%, 80%),
hsl(61deg, 96%, 86%),
hsl(60deg, 99%, 88%),
hsl(59deg, 96%, 92%),
hsl(61deg, 97%, 88%),
hsl(60deg, 96%, 95%),
hsl(59deg, 96%, 81%),
hsl(61deg, 96%, 91%),
hsl(61deg, 98%, 96%),
hsl(60deg, 96%, 89%),
hsl(61deg, 98%, 92%),
hsl(61deg, 97%, 82%),
hsl(60deg, 97%, 91%),
hsl(59deg, 99%, 99%),
hsl(60deg, 98%, 97%),
hsl(59deg, 97%, 100%),
hsl(61deg, 100%, 80%),
hsl(61deg, 98%, 86%),
hsl(60deg, 99%, 84%),
hsl(61deg, 100%, 90%),
hsl(59deg, 99%, 94%),
hsl(59deg, 99%, 98%),
hsl(61deg, 98%, 83%),
hsl(59deg, 99%, 93%),
hsl(59deg, 100%, 96%),
hsl(60deg, 99%, 81%),
hsl(61deg, 96%, 95%),
hsl(61deg, 96%, 100%),
hsl(60deg, 97%, 99%),
hsl(60deg, 100%, 95%),
hsl(59deg, 99%, 88%),
hsl(59deg, 99%, 96%),
hsl(59deg, 100%, 83%),
hsl(60deg, 96%, 83%),
hsl(60deg, 99%, 83%),
hsl(59deg, 100%, 80%),
hsl(61deg, 99%, 98%),
hsl(61deg, 100%, 99%),
hsl(59deg, 99%, 100%),
hsl(59deg, 96%, 95%),
hsl(60deg, 97%, 81%),
hsl(60deg, 99%, 85%),
hsl(60deg, 100%, 83%),
hsl(59deg, 100%, 87%),
hsl(59deg, 97%, 82%),
hsl(59deg, 99%, 86%),
hsl(61deg, 98%, 91%),
hsl(60deg, 96%, 90%),
hsl(61deg, 99%, 81%),
hsl(61deg, 98%, 87%),
hsl(59deg, 96%, 93%),
hsl(60deg, 96%, 93%),
hsl(59deg, 100%, 88%),
hsl(61deg, 97%, 86%),
hsl(60deg, 100%, 91%),
hsl(61deg, 100%, 97%),
hsl(59deg, 98%, 95%),
hsl(59deg, 100%, 84%),
hsl(59deg, 97%, 88%),
hsl(59deg, 97%, 99%),
hsl(60deg, 98%, 88%),
hsl(59deg, 97%, 94%),
hsl(61deg, 97%, 97%),
hsl(59deg, 100%, 98%),
hsl(59deg, 98%, 99%),
hsl(59deg, 99%, 84%),
hsl(59deg, 99%, 89%),
hsl(59deg, 97%, 90%),
hsl(59deg, 98%, 83%),
hsl(61deg, 99%, 95%),
hsl(59deg, 97%, 87%),
hsl(59deg, 96%, 99%),
hsl(60deg, 98%, 95%),
hsl(61deg, 97%, 85%),
hsl(59deg, 98%, 89%),
hsl(60deg, 97%, 90%),
hsl(59deg, 100%, 93%),
hsl(60deg, 98%, 93%),
hsl(59deg, 100%, 82%),
hsl(59deg, 100%, 95%),
hsl(61deg, 98%, 90%),
hsl(61deg, 99%, 97%),
hsl(61deg, 100%, 84%),
hsl(61deg, 100%, 81%),
hsl(60deg, 96%, 96%),
hsl(61deg, 98%, 85%),
hsl(60deg, 96%, 88%),
hsl(59deg, 97%, 93%),
hsl(61deg, 100%, 91%),
hsl(60deg, 97%, 94%),
hsl(59deg, 99%, 81%),
hsl(61deg, 100%, 87%),
hsl(59deg, 100%, 81%),
hsl(60deg, 97%, 88%),
hsl(59deg, 100%, 92%),
hsl(60deg, 97%, 86%),
hsl(60deg, 99%, 100%),
hsl(59deg, 98%, 98%),
hsl(59deg, 96%, 80%),
hsl(60deg, 99%, 96%),
hsl(61deg, 97%, 81%),
hsl(59deg, 97%, 81%),
hsl(60deg, 100%, 88%),
hsl(61deg, 99%, 92%),
hsl(60deg, 96%, 98%),
hsl(61deg, 100%, 89%),
hsl(61deg, 96%, 80%),
hsl(60deg, 98%, 99%),
hsl(61deg, 98%, 82%),
hsl(60deg, 99%, 90%),
hsl(59deg, 99%, 87%),
hsl(61deg, 99%, 82%),
hsl(59deg, 99%, 80%),
hsl(61deg, 97%, 83%),
hsl(59deg, 98%, 96%),
hsl(61deg, 96%, 88%),
hsl(60deg, 96%, 82%),
hsl(60deg, 100%, 100%),
hsl(61deg, 97%, 90%),
hsl(59deg, 97%, 98%),
hsl(59deg, 100%, 86%),
hsl(60deg, 97%, 87%))
}


td {
    padding-top: 1em;
    padding-bottom: 1em;
}

td:nth-child(1) {
    border-width: 6px;
    border-color: #623e37;
    border-style: solid;
}

td:nth-child(2) {
    padding-left: 1em;
    padding-right: 1em;
}

td:nth-child(3) {
    padding-left: 1em;
}

body {
    background: #b85314;
}

footer {
    height: 3em;
    background: #803709;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
}

a {
    color: #d9edff;
    padding: 1em;
}

a:visited {
    color: #ffe8be;
}

